.info_input * {
    width: 100%;
    margin: auto;
    text-align: center;
}
.info_view {
    font-size: 13pt;
    color: lightseagreen;
}
.info_view span {
    font-size: 15pt;
    color: cornflowerblue !important;
}
h3 {
    text-align: center;
    color: indianred;
}
input {
    width : 100pt !important;
}
.name, .phone, .email {
    text-align: center;
    height: 50pt;
}